* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-image: url('https://images4.alphacoders.com/130/1308321.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    height: 100vh;
}

.lista-mandamentos {
    font-weight: bold;
    list-style: none;

    width: 50%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lista-mandamentos li {
    margin-bottom: .2em;
    font-size: 1.5em;
}

.lista-mandamentos li:first-child {
    font-size: 2.3em;
}

.imagem {
    display: flex;
    justify-content: end;
    height: 60%;
    width: 30%;

    position: absolute;
    right: 0;
}

.imagem img {
    width: 100%;
}