* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-image: url('https://images4.alphacoders.com/130/1308321.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    height: 100vh;
}

.lista-mandamentos {
    font-size: 1.1em;
    font-weight: bold;
    list-style: none;
}

.lista-mandamentos li {
    margin-bottom: 15px;
}

.lista {
    width: 35%;
}

.imagem {
    display: flex;
    justify-content: end;
    height: 60%;
    width: 30%;

    position: absolute;
    right: 0;
}

.imagem img {
    width: 100%;
}